
<div class=section>Basic Data</div>

<p class=field>

  <span>  
    Name {{ form.name(size=40) }}<b class=warning>(Required)</b>
  </span>

  {% for error in form.name.errors %}
    <br><span style="color: #db4437;">[{{ error }}]</span>
  {% endfor %}

  <br><br>

  <span>
    Species {{ form.spec(size=40, placeholder="e.g. Jejuni, or Jejuni spp. Doylie") }}
  </span>

  {% for error in form.spec.errors %}
    <br><span style="color: #db4437;">[{{ error }}]</span>
  {% endfor %}

  <br><br>
  <span>
    Date Completed 
  
    {{ form.isy(size=11, placeholder = 'Year') }} 
    {{ form.ism(size=11, placeholder = 'Month') }} 
    {{ form.isd(size=11, placeholder = 'Day') }}
  </span>

  {% for error in form.isy.errors %}
    <br><span style="color: #db4437;">[{{ error }}]</span>
  {% endfor %}
  <br>
  {% for error in form.ism.errors %}
    <br><span style="color: #db4437;">[{{ error }}]</span>
  {% endfor %}
  <br>
  {% for error in form.isd.errors %}
    <br><span style="color: #db4437;">[{{ error }}]</span>
  {% endfor %}







  <br>
</p>