
<div class=section>Drug Resistance Data</div>

<p class=field>

  <span>
    r_pattern {{ form.aID(size=41) }}
  </span>
  {% for error in form.aID.errors %}
    <br><span style="color: #db4437;">[{{ error }}]</span>
  {% endfor %}

  <br><br>
  <span>
    {{ form.azm(size=11, placeholder = 'mic_azm') }} 
    {{ form.chl(size=11, placeholder = 'mic_chl') }} 
    {{ form.cip(size=11, placeholder = 'mic_cip') }}
    {{ form.cli(size=11, placeholder = 'mic_cli') }} 
    {{ form.ery(size=11, placeholder = 'mic_ery') }} 
    {{ form.flr(size=11, placeholder = 'mic_flr') }}
    {{ form.gen(size=11, placeholder = 'mic_gen') }} 
    {{ form.nal(size=11, placeholder = 'mic_nal') }} 
    {{ form.tel(size=11, placeholder = 'mic_tel') }}
    {{ form.tet(size=11, placeholder = 'mic_tet') }} 
  </span>

  {% for field in form %}
    {% if field.id in ['azm', 'chl', 'cip', 'cli', 'ery', 'flr', 'gen', 'nal', 'tel', 'tet'] %}
      {% for error in field.errors %}
        <br><span style="color: #db4437;">[{{ error }}]</span>
      {% endfor %}
    {% endif %}
  {% endfor %}
</p>