
<div class=section>Patient Data</div>

<p class=field>

  <span>
    Patient ID {{ form.pID() }}
  </span>

  {% for error in form.pID.errors %}
    <br><span style="color: #db4437;">[{{ error }}]</span>
  {% endfor %}

  <br><br>

  <span>
    Gender {{ form.hsex() }}
  </span>

  {% for error in form.hsex.errors %}
    <br><span style="color: #db4437;">[{{ error }}]</span>
  {% endfor %}

  <br><br>

  <span>
    Age {{ form.hage(size=41)}}
  </span>

  {% for error in form.hage.errors %}
    <br><span style="color: #db4437;">[{{ error }}]</span>
  {% endfor %}

  <br><br>

  <span>
    Postal Code {{ form.postal_code(size=41) }}
  </span>

  {% for error in form.postal_code.errors %}
    <br><span style="color: #db4437;">[{{ error }}]</span>
  {% endfor %}

  <br><br>

  <span>
    Travel {{ form.travel(size=41, placeholder="e.g. Lison, Portugal") }}
  </span>

  {% for error in form.travel.errors %}
    <br><span style="color: #db4437;">[{{ error }}]</span>
  {% endfor %}

</p>