<!-- extend base layout -->
{% extends "base.html" %}

{% block contentA %}
<body>
  <form action="" method=post class=add name=add>
    {{ form.hidden_tag() }}
    <br>
    <div class=section>Basic Data</div>
    <p class=field>
      Name <b class=fieldAlignA>
      {{ form.name(size=40) }}
      <b class=warning>[Required]</b>
      </b>

      {% for error in form.name.errors %}
       <br><span style="color: red;">[{{ error }}]</span>
      {% endfor %}

      <br><br>
      Species <b class=fieldAlignA>{{ form.spec(size=40) }}</b>

      {% for error in form.spec.errors %}
       <br><span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <br>
    <div class=section>CGF Data</div>
    <p class=field>
      Fingerprint <b class=fieldAlignB>{{ form.fp(size=40) }}</b>

      {% for error in form.fp.errors %}
       <br><span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p class=field>
      Date Completed 
      <b class=fieldAlignB>
      {{ form.dc(size=40) }}
      <b class=warning>[First number is assumed to be the day]</b>
      </b>

      {% for error in form.dc.errors %}
       <br><span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    <br>
    </p>

    <input type=submit value=Submit>
  </form>
</body>
{% endblock %}