
<div class=section>Source Data</div>

<p class=field>

  <span>
    Source {{ form.source(size = 41, placeholder = "e.g. chicken breast rinse") }}
    <br><b class=warning>(Link related terms with an underscore. e.g. canada_goose, breast with_skin</b>
  </span>

  {% for error in form.source.errors %}
    {% if error[0] == 'warning' %}
      <br><span style="color: #377BA8;">[{{ error[1] }}]</span>
    {% else %}
      <br><span style="color: #db4437;">[{{ error }}]</span>
    {% endif %}
  {% endfor %}

  <br>
</p>