<!-- extend base layout -->
{% extends "base.html" %}

{% block contentA %}
  <body>
    
    <br>
    <a href="/add" class=link title="Add Isolate"><p class=optionButton>
      ⚫ Add Isolate</p></a>
    <br><br>
    <a href="/index" class=link title="Update Isolate"><p class=optionButton>
      ⚫ Update Isolate</p></a>
    <br><br>
    <a href="/names" class=link title="Names"><p class=optionButton>
      ⚫ Names</p></a>
    <br><br>
    <a href="/getSummary" class=link title="Isolate Summary"><p class=optionButton>
      ⚫ Isolate Summary </p></a>
    <br><br>
    <a href="/index" class=link title="CGF Results"><p class=optionButton>
      ⚫ CGF Results </p></a>
    <br><br>
    <a href="/index" class=link title="AMR Results"><p class=optionButton>
      ⚫ AMR Results </p></a>
    <br><br>
    <a href="/index" class=link title="MLST Results"><p class=optionButton>
      ⚫ MLST Results </p></a>
    <br><br>
  </body>
{% endblock %}
