<!-- extend base layout -->
{% extends "base.html" %}

{% block contentA %}
  <h3>Filter by:</h3>
  <form action="" method=post class=add name=add>
    {{ form.hidden_tag() }}
    <span>  
      Species {{ form.species(size=41) }}
    </span>

    {% for error in form.species.errors %}
      <br><span style="color: #db4437;">[{{ error }}]</span>
    {% endfor %}

    <br><br>

    <input type=submit value=Submit>
  </form>
  {% if isos %}
    {% for i in isos %}
      <p><a href={{ url_for("summary", iso_title=i) }} class=list > {{ i }} </a></p>
    {% endfor %}
  {% else %}
    <p> There are no isolates available! </p>
  {% endif %}
{% endblock %}
